{% verbatim %}
<div data-ng-switch="formProperties.type">
    <div class="form-group"
         data-ng-switch-when="checkbox"
         data-ng-class="{'has-error': hasErrors(), 'required': isRequired()}">
        <label class="col-lg-4 control-label" for="{{formProperties.id}}_checkbox">{{formProperties.label}}</label>
        <div class="col-lg-8">
            <div class="checkbox">
                <label>
                    <input type="checkbox" id="{{formProperties.id}}_checkbox" data-ng-model="form.model[property]"> &nbsp;
                </label>
            </div>
            <p class="help-block"
               data-ng-repeat="error in getErrors()"
               data-ng-bind="error"></p>
        </div>
    </div>

    <div class="form-group"
         data-ng-switch-when="date"
         data-ng-class="{'has-error': hasErrors(), 'required': isRequired()}">
        <label class="col-lg-4 control-label" for="{{formProperties.id}}_date">{{formProperties.label}}</label>
        <div class="col-lg-8">
            <div class="input-group">
                <input placeholder="{{formProperties.placeholder}}"
                       data-ng-model="form.model[property]"
                       data-datepicker-popup="dd-MM-yyyy"
                       data-min-date="form.model[minDate]"
                       data-max-date="form.model[maxDate]"
                       data-is-open="formProperties.openedCalendar"
                       data-close-text="Cerrar"
                       class="form-control" type="text" id="{{formProperties.id}}_date"/>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="openCalendar($event)">
                        <i class="glyphicon glyphicon-calendar"></i>
                    </button>
              </span>
            </div>
            <p class="help-block"
               data-ng-repeat="error in getErrors()"
               data-ng-bind="error"></p>
        </div>
    </div>

    <div class="form-group"
         data-ng-switch-default
         data-ng-class="{'has-error': hasErrors(), 'required': isRequired()}">
        <label class="col-lg-4 control-label" for="{{formProperties.id}}_input">
            {{formProperties.label}}
        </label>
        <div class="col-lg-8">
            <input placeholder="{{formProperties.placeholder}}"
                   data-ng-model="form.model[property]"
                   class="form-control" type="{{formProperties.type}}" id="{{formProperties.id}}_input"/>
            <p class="help-block"
               data-ng-repeat="error in getErrors()"
               data-ng-bind="error"></p>
        </div>
    </div>
</div>
{% endverbatim %}