{% verbatim %}
<div id="{{formProperties.id}}">
    <div class="row">
        <div class="col-lg-6">
            <img src="" data-ng-src="{{formProperties.logo}}" class="img-thumbnail img-responsive" style="max-width: 214px"/>
        </div>
        <div class="col-lg-6">
            <button
                    class="btn btn-info"
                    data-pl-upload
                    data-on-file-added="fileAdded()"
                    data-on-file-uploaded="fileUploaded($response)"
                    data-pl-progress-model="formProperties.percent">
                <i class="glyphicon glyphicon-cloud-upload"></i> {{formProperties.buttonLabel}}
            </button>

            <div class="progress" data-ng-if="formProperties.active">
                <div class="progress-bar progress-bar-striped" data-ng-class="{'active': formProperties.active}"
                     role="progressbar"
                     aria-valuenow="{{formProperties.percent}}"
                     aria-valuemin="0"
                     aria-valuemax="100" style="width: {{formProperties.percent}}%">
                    <span class="sr-only">{{formProperties.percent}}% Completado</span>
                </div>
            </div>
        </div>
    </div>
</div>
{% endverbatim %}