{% verbatim %}
<div class="s-calendar" data-ng-if="asignacion">
    <ul class="list-unstyled">
        <li>
            <i class="legend-enabled"></i> Fechas en las cuales puede realizar entregas
        </li>
        <li>
            <i class="legend-realized"></i> Fechas que contiene entregas (marcadas y no marcadas)
        </li>
    </ul>
    <div class="row s-calendar-header">
        <div class="col-lg-4">
            <div class="btn-group">
                <button type="button" class="btn btn-default" data-ng-click="prev()">
                    <i class="glyphicon glyphicon-chevron-left"></i>
                </button>
                <button type="button" class="btn btn-default" data-ng-click="next()">
                    <i class="glyphicon glyphicon-chevron-right"></i>
                </button>
            </div>
        </div>
        <div class="col-lg-4">
            <p class="title">{{ month }} {{ year }}</p>
        </div>
    </div>
    <div class="s-calendar-body">
        <div class="s-week">
            <div data-ng-repeat="day in dayTitle" class="s-day">
                <span class="s-day-header">{{ day }}</span>
            </div>
        </div>
        <div data-ng-repeat="week in weeks" class="s-week">
            <div data-ng-repeat="day in days" class="s-day">
                <div data-ng-if="getCal(week, day).currentMonth"
                     class="s-day-cell {{ getClass(getCal(week, day)) }}"
                     data-ng-click="setCurDate(getCal(week, day))">
                    <span class="s-day-month">
                        {{ getCal(week, day).display }}
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
{% endverbatim %}