{% for action in actions %}
    <button class="btn btn-{{action.style}}"
            {% if action.test is defined %}
            data-ng-disabled="{{action.test}}"
            {% endif %}
            data-ng-click="{{action.action}}">
        <i class="glyphicon glyphicon-{{action.icon}}"></i>
        {{action.label|replace({'%singular%': singular})}}
    </button>
{% endfor %}