{% extends 'SisesApplicationBundle::layout_printable.html.twig' %}

{% block content %}
    <h1>Directores</h1>
    <table class="table table-bordered table-striped" style="background: #ffffff">
        <thead>
        <tr>
            <th>#</th>
            <th>Documento</th>
            <th>Nombre</th>
            <th>Empresa</th>
            <th>NIT</th>
        </tr>
        </thead>
        <tbody>
        {% for entry in data %}
            {% set number = loop.index %}
            {% for beneficio in entry.empresas %}
                <tr>
                    <td style="text-align: right">{{ number }}</td>
                    <td style="text-align: right">{{ entry.persona.documento }}</td>
                    <td>{{ entry.persona.nombreCompleto }}</td>
                    <td>{{ beneficio.nombre }}</td>
                    <td>{{ beneficio.nit }}</td>
                </tr>
            {% endfor %}
        {% endfor %}
        </tbody>
    </table>
{% endblock %}