{% verbatim %}
<div class="form-group" data-ng-class="{'has-error': hasError(property)}">
    <label class="col-lg-4 control-label" for="{{name}}_{{property}}">{{label}}</label>
    <div class="col-lg-8">
        <input placeholder="Nombre contrato"
               data-ng-model="model"
               name="{{name}}[{{property}}]"
               class="form-control" type="text" id="{{name}}_{{property}}"/>
        <p class="help-block"
           data-ng-repeat="error in errors[property].errors"
           data-ng-bind="error"></p>
    </div>
</div>
{% endverbatim %}