{% verbatim %}
<div class="form-group" data-ng-class="{'has-error': hasError(property)}">
    <label for="{{name}}_{{property}}" class="col-lg-4 control-label">{{label}}</label>
    <div class="col-lg-8">
        <select class="form-control"
                data-chosen
                data-width="'100%'"
                data-ng-model="model"
                data-ng-options="o.{{optionKey}} as o.{{optionLabel}} for o in optionsModel"
                id="{{name}}_{{property}}" name="{{name}}[{{property}}]"></select>
        <p class="help-block"
           data-ng-repeat="error in errors[property].errors"
           data-ng-bind="error"></p>
    </div>
</div>
{% endverbatim %}