<div data-sises-form="element" data-errors="errors">
    <div class="row">
        <div class="col-lg-5">
            <fieldset>
                <legend>Datos de la liquidación</legend>

                <div data-sises-form-select="contrato"
                     data-label="'Contrato'"
                     data-options="'contrato'"
                     data-options-key="id"
                     data-options-label="nombre"
                     data-required="true"></div>

                <div data-sises-form-date="fechaInicio"
                     data-required="true"
                     data-max-date="fechaCierre"
                     data-label="'Fecha inicio'"></div>

                <div data-sises-form-date="fechaCierre"
                     data-min-date="fechaInicio"
                     data-required="true"
                     data-label="'Fecha Cierre'"></div>

                <div data-sises-form-input="diasGracia"
                     data-label="'Dias de gracia'"
                     data-required="true">
                </div>
                <div data-sises-form-static="element.estado"
                        data-label="'Estado'"></div>
            </fieldset>
        </div>
        <div class="col-lg-7">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                {% verbatim %}
                <div class="panel panel-default" data-ng-repeat="detalle in detalles">
                    <div class="panel-heading" role="tab" id="heading{{ $index }}">
                        <h4 class="panel-title">
                            <a data-toggle="collapse"
                               data-parent="#accordion"
                               data-ng-click="collapse_in = $index"
                               aria-controls="collapse{{ $index }}">
                                {{ detalle.nombre }} ({{ detalle.documento }})
                            </a>
                        </h4>
                    </div>
                    <div
                         class="panel-collapse"
                         role="tabpanel"
                         aria-labelledby="heading{{ $index }}">
                        <div class="panel-body">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Fecha</th>
                                        <th>Servicio</th>
                                        <th>Cant.</th>
                                        <th>$ Unidad</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr data-ng-repeat="servicio in detalle.servicios">
                                        <td>{{ moment(servicio.fecha).format('MMM DD YYYY') }}</td>
                                        <td>
                                            {{ servicio.nombre }}<br/>
                                            <small>{{ servicio.lugar }}</small>
                                        </td>
                                        <td>{{ servicio.cant }}</td>
                                        <td style="text-align: right">{{ servicio.valor|currency: '$' : 0 }}</td>
                                        <td style="text-align: right">{{ (servicio.cant * servicio.valor)|currency: '$' : 0 }}</td>
                                    </tr>
                                    <tr>
                                        <td colspan="4"><strong style="text-align: right">Total</strong></td>
                                        <td style="text-align: right">{{ detalle.gran_total|currency: '$' : 0 }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                {% endverbatim %}
            </div>
        </div>
    </div>
</div>