<!DOCTYPE pdf SYSTEM "%resources%/dtd/doctype.dtd">
{# plantilla para generar el PDF #}
<pdf Author="SISES" Title="Planilla beneficiarios">
    <dynamic-page page-size="842:612" >
        <placeholders>
            <header>
                <div class="header">
                    <table class="no-border">
                        <tr>
                            <td width="10%">
                                {% if contrato.empresa.logo %}
                                    <img src="{{ web_uploads }}/{{ contrato.empresa.logo }}" class="logo-header" />
                                {% endif %}
                            </td>
                            <td>
                                <strong font-size="18px">{{ contrato.descripcion }}</strong> <br/>
                                {{ contrato.empresa.nombre }} - {{ contrato.contratante.nombre }} <br/>
                                {{ contrato.resolucion }}
                            </td>
                            <td width="10%">
                                {% if contrato.contratante.logo %}
                                    <img src="{{ web_uploads }}/{{ contrato.contratante.logo }}" class="logo-header" />
                                {% endif %}
                            </td>
                        </tr>
                    </table>
                </div>
            </header>
            <footer>
                <div height="20px">
                    <table class="no-border">
                        <tr>
                            <td><page-info offset="0" format="Pagina %s de %s"/></td>
                            <td>{# Generado el: {{now|date("m/d/Y H:m:i")}} por {{app.user.name}} #}</td>
                        </tr>
                    </table>
                </div>
            </footer>
        </placeholders>

        <!-- Table header -->
        {% include '@SisesApplication/PDF/PDF/planilla_header.pdf.twig' %}
        {% for persona in personas %}
            <tr text-align="center" style="line-heigth: 20px">
                <td>
                    <div height="20px">{{loop.index}}</div>
                </td>
                <td>{{persona.documento}}</td>
                <td text-align="left" padding-left="5px">{{persona.nombre|upper }} {{persona.apellidos|upper }}</td>
                <td>{#Fecha de nacimiento#}</td>
                <td>{#Edad#}</td>
                <td>{#Genero#}</td>
                {% for day in days %}
                    <td></td>
                {% endfor %}
            </tr>
            {% if loop.index % per_page == 0 %}
                </table>
                <page-break/>
                {% include '@SisesApplication/PDF/PDF/planilla_header.pdf.twig' %}
            {% endif %}
        {% endfor %}
        </table>

    </dynamic-page>
</pdf>
